In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect("my_db.db", timeout = 10)

In [3]:
table1 = """

CREATE TABLE IF NOT EXISTS employee(
    emp_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    hire_date TEXT NOT NULL,
    salary NOT NULL
);

"""

In [4]:
table2 = """

CREATE TABLE IF NOT EXISTS customer(
    customer_id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    phone TEXT
);
"""

In [5]:
table3 = """
CREATE TABLE IF NOT EXISTS orders (
    order_id INTEGER PRIMARY KEY AUTOINCREMENT,
    customer_id INTEGER NOT NULL,
    order_date TEXT NOT NULL,
    amount REAL NOT NULL,
    phone TEXT
);
"""

In [6]:
connection

In [7]:
# cursor is a method through which put data inside table
cursor = connection.cursor()

In [8]:
cursor.execute(table1)
cursor.execute(table2)
cursor.execute(table3)

In [9]:
insert_query_employe = """
INSERT INTO employee(emp_id, first_name, email, hire_date, salary)
VALUES (?, ?, ?, ?, ?)
"""

insert_query_customer = """
INSERT INTO customer(customer_id, first_name, email, phone)
VALUES (?, ?, ?, ?)
"""

insert_query_order = """
INSERT INTO orders(order_id, customer_id, order_date, amount, phone)
VALUES (?, ?, ?, ?, ?)
"""

In [10]:
# Peoplesa data

employee_data = [
    (1 , "Mohit", "mohit@gmail.com", "1-9-2025", 50000),
    (2 , "X", "x@gmail.com", "1-9-2025", 10000),
    (3 , "Y", "y@gmail.com", "1-9-2025", 20000),
    (4 , "Z", "z@gmail.com", "1-9-2025", 30000),
    (5 , "w", "w@gmail.com", "1-9-2025", 40000),
]

customer_data = [
    (1 , "a", "a@gmail.com", "123456"),
    (2 , "b", "b@gmail.com", "234567"),
    (3 , "c", "c@gmail.com", "345678"),
    (4 , "d", "d@gmail.com", "456789"),
    (5 , "e", "e@gmail.com", "567890"),
]

order_data = [
    (10 , 1, "2-9-25",123, "123456"),
    (20 , 2, "2-9-25",234, "234567"),
    (30 , 3, "2-9-25",345, "345678"),
    (40 , 4, "2-9-25",456, "456789"),
    (50 , 5, "2-9-25",678, "567890"),
]

In [11]:
cursor.executemany(insert_query_employe, employee_data)
cursor.executemany(insert_query_customer,customer_data)
cursor.executemany(insert_query_order, order_data)

IntegrityError: UNIQUE constraint failed: employee.emp_id

In [12]:
connection.commit()

In [13]:
cursor.execute("select * from employee;")

In [14]:
for row in cursor.fetchall():
    print(row)

(1, 'Mohit', 'mohit@gmail.com', '1-9-2025', 50000)
(2, 'X', 'x@gmail.com', '1-9-2025', 10000)
(3, 'Y', 'y@gmail.com', '1-9-2025', 20000)
(4, 'Z', 'z@gmail.com', '1-9-2025', 30000)
(5, 'w', 'w@gmail.com', '1-9-2025', 40000)